doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Tasks App
    link(rel='stylesheet', type="text/css" href='/css/bootstrap.min.css')
    link(rel='stylesheet', type="text/css" href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css')
    link(href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap&subset=cyrillic', rel='stylesheet')
    link(rel='stylesheet', type="text/css" href='/css/custom.css')
  body
    .container.text-center.mt-2
      a.nav-logo(href='/') Tasks App
        //- div
        //-   if (user)
        //-     a(href='/profile')
        //-       span.mr-3.badge.badge-secondary 
        //-         = user.local.email
        //-     a.btn.btn-outline-dark(href='/logout') Выйти
        //-   else
        //-     a.btn.btn-outline-dark(href='/login') Войти


    block content
    
    .container.text-center.footer
      p
        a.social-link(href='https://dev-pogodin.ru', target='_blank') dev-pogodin
      p
        a.social-link(href='https://vk.me/awpogodin', target='_blank')
          i.fab.fa-vk
        |  
        a.social-link(href='https://tg.guru/awpogodin/', target='_blank')
          i.fab.fa-telegram

