extends layout.pug

block content
  .container
    .page-header.text-center
      h1 Профиль
    .row.mt-3.justify-content-center
      .col-sm-6
        .card.p-3
          h3
            span.fa.fa-user
            | 
            = user.local.name
          p
            strong id: 
            = user._id
            br
            strong Email: 
            = user.local.email
            br
            strong Статус персонала: 
            = user.local.admin
