extends layout.pug

block content
  .container.mt-3
    .row.header
      .col-8.text-left
        h4.date.text-secondary
          = date
        h2.date-title
          | Профиль
      .col-4.text-right.user
        a.btn.btn-outline-danger.rounded-pill(href='/logout', title='Выйти из аккаунта') Выйти
    hr
    .row.mt-5
      .col
        h3.text-center.title-light Учетная запись
        p
          b Имя: 
          = user.local.name
        p
          b Почта: 
          = user.local.email
        p
          b Статус администратора: 
          = user.local.admin
      - if (user.local.admin)
        .col
          h3.text-center.title-light Сотрудники
          .users
            each item in users
              a.user-link(href=`/profile/${item._id}`)
                .user-item.shadow-sm.rounded.text-center
                  = item.local.name
                  | 
                  | (
                  = item.local.email
                  | ) 
                  - if (String(item._id) === String(user._id))
                      b (Вы)