extends layout.pug

block content
  .container
    .col-sm-6.col-sm-offset-3
      h1
        |  Регистрация
      // show any messages that come back with authentication
      - if (message.length > 0)
        .alert.alert-danger 
          = message
      // Signup FORM
      form(action='/signup', method='post')
        .form-group
          label Ваше имя*
          input.form-control(type='text', name='name', required='')
        .form-group
          label Ваш email*
          input.form-control(type='email', name='email', required='')
        .form-group
          label Ваш пароль*
          input.form-control(type='password', name='password', required='')
        button.btn.btn-outline-primary(type='submit') Зарегистрироваться
      hr
      p
        | Уже зарегистрированы? 
        a(href='/login') Авторизация